<h2>Available drones</h2>

{{#each droneList}}
<h3> {{this.name}} </h3>
<h4>Propellers</h4>
<li> {{this.propellers}} </li>
<h4>MaxSpeed</h4>
<li> {{this.maxSpeed}} </li>
<br>
<a href="/drones/{{this._id}}/edit"><button class="btn btn-outline-info">Update</button></a>
<form action="/drones/{{this._id}}/delete" method="POST">
    <button class="btn btn-outline-danger">Delete drone</button>
</form>
<hr>
{{/each}}
